<!-- Footer -->
<div class="footer footer--dark">
  <div class="container">
    <div class="footer__inner">
      <a href="index.html" class="footer__textLogo">meumobi</a>
      <div class="footer__data">
        <div class="footer__data__item">
          <div class="footer__row">
            Contact us <a href="mailto:{{ site.email }}" target="_blank" class="footer__link">{{ site.email }}</a> 
          </div>
          <div class="footer__row">
            Porto (Portugal) <a href="https://maps.google.com/?q=Campo+M%C3%A1rtires+da+P%C3%A1tria,+144-A,+4050-368" target="_blank" class="footer__link">Campo Mártires da Pátria, 144-A, 4050-368</a>
          </div>
          <div class="footer__row">
            Rio de Janeiro (Brasil) <a href="https://www.google.com.br/maps/place/Dimension+Office+Park/@-22.9731911,-43.3720921,15z/data=!4m2!3m1!1s0x9bd980fde48585:0x5619962794e9be00?shorturl=1" target="_blank" class="footer__link">Dimension Office Park, Sala 214c - Barra da Tijuca - RJ</a>
          </div>
        </div>
        <!--div class="footer__data__item">
          <div class="footer__row">Created for <a href="https://undraw.co" target="_blank" class="footer__link">unDraw</a>
          </div>
          <div class="footer__row">Special thx to <a href="https://shareboost.co" target="_blank" class="footer__link">ShareBoost</a> for the support
          </div>
        </div-->
        <!--div class="footer__data__item">
        <div class="footer__row">
          <a href="https://github.com/anges244/evie" target="_blank" class="footer__link">GitHub</a>
        </div>
        <div class="footer__row">
          <a href="https://twitter.com/undraw_co" target="_blank" class="footer__link">Twitter</a>
        </div>
        <div class="footer__row">
          <a href="https://www.facebook.com/undraw.co/" target="_blank" class="footer__link">Facebook</a>
        </div>
        <div class="footer__row">
          <a href="./additional.html" class="footer__link">MIT license</a>
        </div>
      </div -->
    </div>
  </div>
</div>
<script src='js/app.min.js'></script>